.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}

.header {
    text-align: center;
}

.search {
    text-align: center;
    margin-top: 40px;

    input {
        padding: 10px;
        border-radius: 10px;
        margin-right: 5px;
    }

    button {
        padding: 10px;
        border-radius: 10px;
        margin-right: 5px;
        background-color: black;
        color: white;
        font-weight: bold;
        font-style: italic;
        cursor: pointer;

        &:hover {
            background-color: white;
            color: black;
        }

    }

}